*{
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
h1{
    text-align:center;
    color: green;
    padding: 20px;
}
nav{
    background-color: rgb(191, 255, 0);
    display: grid;
    place-items: center;
    
}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding: 20px ;
    text-decoration: none;
    color:#000;
    transition: 0.2s ease-in;
    font-size: 18px;
}
nav ul a:hover{
background-color:green;
color:white;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:30px 20px ;
    grid-column-gap:20px;
    grid-row-gap:30px;
    margin: 20px;
}
.item img{
    width: 290px;
    height: 305px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;

}
.item img:hover{
    transform: scale(1.08);

}
.item h4{
    padding: 5px ;
    text-align: center;
}
.item button{
    padding: 5px 30px;
    border: none;
    outline:none ;
    background-color: limegreen;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition:0.2s all ;

}
.item button:hover{
    transform: scale(1.06);
}