/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    list-style: none;
    text-decoration: none;
    scroll-padding-top:2rem ;
    scroll-behavior: smooth;

}
:root{
--text-color:#021f2a;
--bg-color:#fff;
}
/*Cust*/
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-thumb{
    background: transparent;
}
html::-webkit-scrollbar-track{
    background: var(--text-color);
    border-radius: 5rem;
}
section{
    padding:50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 100px;
    transition:0.5s ;
    
}
.logo{
    font-size:1rem ;
    font-weight: 600;
    color:var(--bg-color) ;
}
.navbar{
    display: flex;
    column-gap: 5rem;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}
.navbar a::after{
content: "";
width: 0%;
height: 2px;
background: var(--bg-color) ;
position: absolute;
bottom: -4px;
left: 0;
transition: 0.4s;
}
.navbar a:hover::after,.navbar .home-active::after{
    width: 100%;

}
#menu-icon{
    font-size:24px ;
    cursor: pointer;
    z-index: 100001;
    display: none;
}
.container{
   width: 100%; 
   min-height: 640px;
   position: relative;
   display: flex;
   align-items: center;
}
.container img{
    position: absolute;
    width:100% ;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.swiper-button-next-bullet{
    padding: 5px;
}
.swiper-button-next-bullet-active{
    background: var(--bg-color) !important;
}
.home-text{
    z-index :100001;
    padding: 0 100px;

}
.home-text span{
    color: var(--bg-color);
    font-weight: 400;
}
.home-text h1{
    color: var(--bg-color);
    font-size: 3.4rem;
    font-weight: 700 ;
    margin-bottom: 1rem;
}
.btn{
    padding: 0.7rem;
    background: var(--text-color);
    color: var(--bg-color) ;
    font-weight: 500;
}
.btn:hover{
background: #01151d;
}
.heading{
    text-align: center;

}
.heading{
    font-size: 1.7rem;
    font-weight:600 ;
    text-transform: capitalize;
    color: var(--bg-color);
}