body{
	background-color: #e0e0e0;
	
}
.container{
	width: 700px;
	height: 300px;
	background-color: #999;
	position: static;
	border-radius: 20px;
	text-align: center;

}
.row,th{
	border: 2px solid ;
	padding: 8px;
}




