body{
    background-color:#e0e0e0;
    padding: 0%;

}
.invoice-box{
    width: 770px;
    height: 700px;
    background-color:#e0e0e0;
    margin-left: 250px;
    position: static;
    border-radius: 20px;
    text-align: center;
    box-shadow: 12px 12px 24px 0 rgba(0,0,0,0.2), -12px -12px 24px 0 rgba(255,255,255,1);


}

.pre-start{
    
    width: 170px;
    height: 2000;
    margin-left: 0px;
    text-align: center;
    border-radius: 10px;
    margin: 40px;

}

.title{

    text-align: center;
    color: blue;
}
table{
    border: 0px solid;
    width: 750px;
    height: 50px;
    border-collapse: collapse;
}
.row,th{
    border: 1px solid;
    padding: 8px;
}
th{
    color: blue;
    border-color: black;
}
.footer-invoice{
    display: inline-flex;
    text-align: center;
}
.footer-invoice, h2{
    margin-left: 10px;
}