*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image:url(../img/pic14.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a{
    text-decoration: none;
}

.container{
    width: 350px;
    height: 450px;
    background: #e0e0e0;
    border-radius:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-sign-up{
    display: grid;
    grid-template-areas: 1fr;
}

form{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


title{
    font-size: 35px;
    color: #5ab9ea;
    margin: 20px 0;
    text-transform: uppercase;
}

.input-field{
    width: 280px;
    height: 50px;
    margin: 5px 0;
    background: #e0e0e0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    box-shadow: inset 6px 6px 10px 0 rgba(0,0,0,0.2), inset -6px -6px 10px 0 rgba(255,255,255,0.5);
}
.input-field i{
    flex: 1.2;
    text-align: center;
    font-size: 20px;
    color: #999;
}
.input-field input{
    flex: 5;
    width: 100%;
    color: #999;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    background: none;
}

p,a{
    font-size: 14px;
    color: blue;
}
.btn{
    width: 130px;
    height: 54px;
    background: #e0e0e0;
    outline: none;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0;
    color: #5ab9ea;
    border-radius: 40px;
    box-shadow: 12px 12px 24px 0 rgba(0,0,0,0.2), -12px -12px 24px 0 rgba(255,255,255,1);
    cursor:pointer;


}