*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: "Poppins",sans-serif;
}
body{
    position: relative;
    min-height: 10vh;
    width: 100%;
    overflow: hidden;
}
.sidebar{
    position: fixed;
    top: 0;
    left:0 ;
    height: 100%;
    width: 240px;
    background: #11101d;
    padding:6px 14px ;
}
.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}
.logo_content .logo i{
font-size: 28px;
margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.sidebar #btn{
    color: #fff;
    position: absolute;
    color:#fff ;
    left: 90%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height:50px ;
    transform: translateX(-50%);

}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    position: relative;
    height: 50px; 
    width: 100%;
    margin:0 5px;
    list-style: none;
    line-height: 50px;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top :0%;
    transform:translateY(-50%);
    border-radius:12px ;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height:35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 0s;
    opacity:0;
    pointer-events:none ;
}
.sidebar ul li :hover .tooltip{
    transition: all 0.5 ease;
    opacity: 1;
    top: 50%;   
}
.sidebar ul li input{
   position: absolute;
   height: 100%;
   width: 100%; 
   left: 0;
   top: 0;
   border-radius: 9px;
   outline: none;
   border: none;
   background: #1d1b31;
   padding-left: 50px;
   font-size:18px ;
   color: #fff;
}
.sidebar ul li .bx-search{
    position: absolute;
    z-index: 99;
    color: #fff;
}
.sidebar ul li .bx-search{
    position: absolute;
    z-index: 99;
    color: #fff;

}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 10px;
    height: 40px;
  
  
}
.sidebar ul li a:hover{
    color: #11101d ;
    background: #fff;

}
.sidebar ul li i{
    height:50px;
    min-width: 50px;
    border-radius: 12px;
    line-height:50px ;
    text-align: center;
}
.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;

}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #1d1b31;
}
.profile_content .profile .profile_details{
   display: flex; 
   align-items: center;
}
.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_details .name_job{
    margin-right:  10px ;

}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .name{
    font-size: 12px;
    font-weight: 400;
}
.profile #log_out{
    position: absolute;
    left: 88%;
    bottom:5px ;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px ;
    font-size: 20px;
    border-radius: 12px;
}
.home_content{
 position:absolute;
 height: 100%;
 width: calc(100% - 240px);
 left: 240px;
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}