/* works */
.works .box-container .box .image {
    height: 30rem;
    overflow: hidden;
    position: relative;
  }
  
  .works .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .works .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
  }
  
  .works .box-container .box .image .content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: var(--black);
    color: var(--white);
    font-size: 1.7rem;
    padding: 2rem;
    z-index: 90;
    transform: translateY(100%);
  }
  
  .works .box-container .box:hover .image .content {
    transform: translateY(0);
  }
  /* works */