<!--html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!--script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <title>Document</title>

    <style>

.navbar{
  display: flex;
  width:auto;

}

.navbar a:hover {
  background-color:#777;
 


}

      
.collapse{
        display: flex;
        width: 100%;
      
      }
            
.collapse a:hover {
  background-color:#777;


  
  
}
    </style>

</head>
<body >

    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <a class="navbar-brand"  href="#" style="color:white;">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: white;">Shop<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color:white"(255, 255, 255, 0.815);>Link</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="#" style="color:white"(255, 255, 255, 0.815);>image</a>
             
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" style="color:white" role="button" data-toggle="dropdown" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" style="color:white;">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    


</body>
</html-->


<!-- works section starts -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=d evice-width, initial-scale=1.0">
    <title>Foodie and Drink place</title>
    <link rel="stylesheet" href="css/about.css"/>
    

</head>
<body>
    <body>
        <h1>Foodie place</h1>
        <nav>
            <ul>
                <a href="#"><li>Home</li></a>
                <a href="#"><li>Order</li></a>
                <a href="#"><li>Near</li></a>
                <a href="#"><li>About</li></a>
                
            </ul>
        </nav>



<section class="items">
  <div class="item">
    <img src="img/pic22.jpg">
    <h4>burger</h4>
      <button>Order</button>
  </div>


  <div class="item">
    <img src="img/pic25.jpg">
    <h4>Food</h4>
      <button>Order</button>
    </div>

    <div class="item">
      <img src="img/pic23.jpg">
      <h4></h4>
        <button>Order</button>
      </div>


      <div class="item">
        <img src="img/pic30.jpg">
        <h4>orange juice</h4>
          <button>Order</button>
        </div>


        <div class="item">
          <img src="img/pic27.jpg">
          <h4>beer</h4>
            <button>Order</button>
          </div>

          <div class="item">
            <img src="img/pic29.jpg">
            <h4>struberry soda</h4>
              <button>Order</button>
            </div>
            <!--div class="item">
              <img src="img/pic26.jpg">
              <h4>berger</h4>
                <button>Order</button>
            </div-->



</section>

    </body>
    
</body>
</html>