*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    list-style-type: none;

}
.container-full{
    width: 100%;
    background-color: cadetblue;
    display: flex;
    height: 10%;
    justify-content:center ;
}

.container{
    width: 80%;
    background-color: brown;
}
/*.container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
*/
.container ul li{
    float:left ;
}
.container ul li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white

}